<div class="container">
	<div class="row">
		<% if @user.errors.any? %>
			<h4>We have some errors here!</h4>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
			<hr>
		<% end %>

		<h1>Edit Profile</h1>


		<%= form_for [@user] do |f| %>

			<div class="form-group">
				<%= f.label :name, "Name" %>
				<%= f.text_field :name, class: "form-control" %>
			</div>
			
			<div class="form-group">
				<%= f.label :intro, "Intro" %>
				<%= f.text_area :intro, class: "form-control" %>
			</div>

			<div class="form-group">
				<div class="user-edit">
					<%= f.label :avatar, "Avatar"%>
				</div>
				<%= image_tag @user.image, width: '90px' ,class: "img-circle img-responsive "%>
				<%= f.file_field :avatar %>
			</div>

			<div class="form-group">
	        <%= f.submit class: "btn btn-primary" %>
	        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
	        </div>
      </div>

		<% end %>
	</div>
</div>