<div class="container">
  <div class="row col-md-10 col-md-offset-1 page-header">

    <div class="col-md-3 col-sm-4 col-xs-12 user-inline">
      <%= image_tag @user.image, class: "img-circle img-responsive center-block" %>
    </div>

    <div class="col-md-9 col-sm-8 col-xs-12 user-inline">
      <h1><%= @user.name %></h1>
      <h5><%= @user.email %></h5>
      <div><%= simple_format @user.intro %> </div>

      <% if @user.email == current_user.email %>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="clearfix"></div>

  </div>
</div>